<p>
  anime-table works!
</p>
<div > <!--*ngIf="listAnime.length < 10"-->
  <table class="table table-dark table-hover table-striped" >
    <thead class="thead-light">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let anime of listAnime; let i = index">
        <a routerLink="/anime-detail/{{anime.id}}">
          <td>
            {{anime.id}}
          </td>
        </a>
        <td>{{anime.name}}</td>
        <td>{{anime.gender}}</td>
        <td>
          <button *ngIf="listAnime.length > 1" (click)="deleteAnime(i)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="clickAnimeForm()">Add Anime</button>
  <button (click)="generatePDF()">Generate PDF</button>
</div>
